{% extends "_layout.html" %}
{% block title %}Terms of Service - SpaceWiki{% endblock %}

{% block content %}
<div class="small-12 columns">
This document describes what activities are allowed, under what conditions we
may terminate your account, and asserts our limited liability. It applies to all
interactions with SpaceWiki.io. Your use of SpaceWiki.io services constitutes
your agreement to these Terms of Service.

<h2>Summary</h2>
<ol>
<li>If you do anything truly evil, we will terminate your account.</li>
<li>We are not liable for any damages related to the use of this service.</li>
</ol>

<h2>Privacy Policy</h2>
We ask that you review our <a
href="{{url_for('routes.privacy_policy')}}">Privacy Policy</a> so that you are
aware of how we collect and use your information.

<h2>Ownership and responsibility for content</h2>
All Content, whether publicly posted or privately transmitted, is the sole
responsibility of the person who originated such Content. We may not monitor or
control the Content posted via the Services and we cannot take responsibility
for such Content. Any use or reliance on any Content or materials posted via
the Services or obtained by you through the Services is at your own risk. You
are responsible for your use of the Services, for any Content you provide, and
for any consequences thereof.

<h2>Refraining from certain activities</h2>
You may not engage in the following activities through the services provided by
SpaceWiki.io:

<ul>
  <li>Harassing and abusing others by engaging in threads, stalking, or sending
  spam.</li>
  <li>Misuse of services by distributing viruses or malware, engaging in a denial
  of service attack, or attempting to gain unauthorized access to any computer
  system, including this one.</li>
  <li>Contributing to the abuse of others by distributing material where the
  production process created violence or sexual assault against persons</li>
</ul>

<h2>Account Termination</h2>
SpaceWiki.io may terminate your service at any time for any reason. Typically,
however, accounts are destroyed because of one of the following conditions:

<ul>
  <li>The account has been found to be sending Spam (excessive amounts of unsolicted email).</li>
  <li>The account has engaged one or more of the banned activities listed above.</li>
</ul>

<h2>Limitation on Liability</h2>
You agree that SpaceWiki.io is not liable to you or to any other party for any
direct, indirect, incidental, special, consequential or exemplary damages,
including but not limited to, damages for loss of profits, goodwill, use, data,
or other intangible losses, regardless of whether we were advised of the
possibility of such damage. In the case that applicable law may not allow the
limitation or exclusion of liability or incidental or consequential damages,
the above limitation or exclusion may not apply to you, although our liability
will be limited to the fullest extent permitted by applicable law.

<h2>Choice of Forum and Law</h2>
You agree that these Terms of Service and your use of SpaceWiki.io's services
is governed by the law of the State of California and any claim or dispute
shall be resolved in the Superior Court for Alameda County, California. You
agree that the English language version of our Terms of Service and Privacy
Policy is controlling in any claim or dispute.

<h2>Policy regarding copyright infringement - DMCA</h2>
SpaceWiki.io complies with the Digital Millennium Copyright Act’s notice and
take-down procedures. DMCA complaints should be addressed to:

<blockquote>
<p>Victoria Fierce
<p>?????
<p>Oakland, CA 94612
<p>Ph. (440)858-3382
</blockquote>

Please note that it is SpaceWiki.io's policy to take reasonable steps, within
our power, to terminate the accounts of users who are repeat infringers in
apropriate circumstances.

<h2>No Warranty</h2>
You understand and agree that SpaceWiki.io provides online services “as is” and
without any warranty, express, implied, or statutory. We specifically disclaim
any implied warrannties of title, merchantability, fitness for a particularly
purpose and non-infringement. We make no warranty as to the reliability,
accessibility, or quality of our services. You agree that the use of our
services is at your sole and exclusive risk.

<h2>Changes to this policy</h2>
We reserve the right to change this policy. If we make major changes, we will
notify our users in a clear and prominent manner. Minor changes may only be
highlighted in the footer of our website.

</div>
{% endblock %}
